body {
  max-width: 100vw;
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: white;
  background: linear-gradient(to bottom right, #151515 6.22%, #151515 139.21%);
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  min-height: 100vh;
  width: 100vw;
}

.title {
  margin-top: 12vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 4vh;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.detail-recipe {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.back-button {
  margin-left: 100px;
  fill: #ffffff;
  width: 2.3rem;
  height: 2.3rem;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #f5a046;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.back-button:hover {
  fill: #f5a046;
  background-color: #fdfdfd;
  transition: all .25s ease-in-out;
  transform: scale(1.1);
}

.detail-recipe img {
  padding: 2rem;
  border-radius: 40px;
  width: 400px;
  height: 400px;
}

.content-recipe {
  padding: 2rem;
  font-size: 2.3vh;
  /* margin-left: 200px; */
  width: 50%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 30px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5a046;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0.17deg, #ff7b00 1.22%, #ffbb00 59.21%);
}

.title {
  color: #f5a046;
}

.content-recipe h3 {
  color: #f5a046;
  font-size: 2.9vh;
}

@media only screen and (max-width: 700px) {
  .back-button {
    margin-left: 10vw;
    fill: #ffffff;
    width: 1.6rem;
    height: 1.6rem;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f5a046;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all .25s ease-in-out;
  }

  .back-button:hover {
    fill: #f5a046;
    background-color: #fdfdfd;
    transition: all .25s ease-in-out;
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 1255px) {
  .content-recipe h3 {
    color: #f5a046;
    font-size: 2.5vh;
    text-align: center;
  }

  .content-recipe {
    padding: 2rem;
    font-size: 2.3vh;
    /* margin-left: 200px; */
    width: 70vw;

  }
}

@media only screen and (max-width: 415px) {
  .content-recipe h3 {
    color: #f5a046;
    font-size: 2.2vh;
    text-align: center;
  }

  .content-recipe {
    padding: 2rem;
    font-size: 1.9vh;
    /* margin-left: 200px; */
    width: 70vw;
  }

  .detail-recipe img {
    padding: 2rem;
    border-radius: 40px;
    width: 70vw;
    height: 70vw;
  }

  .detail-recipe ul {
    margin-bottom: 10vh;
  }

  .title {
    margin-top: 12vh;
    margin-bottom: 3vh;
    font-size: 3vh;
    text-align: center;
  }
}

.recipe-img {
  width: 500px;
  height: 500px;
}

.content-recipe p {
  color: #f5a046;
  font-size: 2.8vh;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ingredients,
.recipe {
  font-size: 2.45vh;
  line-height: 23px;
}
@media only screen and (max-width: 768px) {
.ingredients,
.recipe {
  font-size: 1.9vh;
  line-height: 21px;
}}