body {
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  min-height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  background-color: transparent;
  --tw-bg-opacity: 0.7;
  backdrop-filter: blur(3px);
  z-index: 10;
}

header p {
  margin-right: 4vw;
  font-size: 2.6vh;
  font-weight: 600;
  color: #e79033;
}

.nav-menu {
  display: flex;
  position: static;
  align-items: center;
  max-width: 100vw;
  font-size: 2.4vh;
  height: 65px;
  z-index: 999;
  font-weight: 550;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.nav-menu ul {
  display: flex;
  flex: 1 1 0%;
  list-style-type: none;
  margin-right: auto;
}

.nav-list {
  position: relative;
  letter-spacing: 1px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-list:hover::after {
  width: 100%;
}

.nav-list:hover {
  color: #e79033;
  transition: transform 0.3s ease-in-out;
}

p {
  margin: 0px;
  padding: 0;
}

.menu {
  margin: 0px;
  background-image: linear-gradient(to right, #171614, #090A05);
}

.menu p {
  text-align: center;
}

.content img {
  width: 100vw;
  height: 100vh;
  /* min-height: 99vh; pake query aja ntar*/
  display: flex;
  flex: 1 1 0%;

}

.content {
  position: relative;
  margin: 0px;
  text-align: center;
}

.label h2 {
  font-size: 3.7vh;
}

.label p {
  font-size: 2.3vh;
  margin-bottom: 2.5rem
}

.label button {
  background-color: #e79033;
  padding: 2.2vh;
  cursor: pointer;
  border-radius: 25px;
  color: #fff;
  font-size: 2.1vh;
  font-weight: 550;
  transition: transform 0.3s ease-in-out;
}

.label button:hover {
  transform: scale(1.1);
  background-color: #f9ba33;
}


@media only screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }

  .label {
    position: absolute;
    z-index: 20;
    right: 7vw;
    top: 36vh;
    width: 30vw;
  }

  .nav-list::after {
    content: "";
    position: absolute;
    background-color: #e79033;
    height: 3px;
    width: 0%;
    left: 0px;
    bottom: -10px;
    transition: 0.3s;
  }

  .hidden {
    display: flex;
    position: static;
    align-items: center;
    max-width: 100vw;
    font-size: 2.4vh;
    height: 70px;
    z-index: 999;
    font-weight: 550;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  }

  .hidden ul {
    display: flex;
    flex: 1 1 0%;
    list-style-type: none;
    margin-right: auto;
  }
}

@media only screen and (max-width: 900px) {
  header div {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
  }

  .hidden {
    display: none;
    position: static;
    align-items: center;
    max-width: 100vw;
    font-size: 2.4vh;
    height: 70px;
    z-index: 999;
    font-weight: 550;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  }

  .nav-menu ul {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    /* background-color: #141819; */
    gap: 15px;
    padding: 0;
    font-weight: 500;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    background-color: #1d1e1f;
    opacity: 96%;
    max-width: 40vw;
    border-radius: 0.75rem;
    margin-top: 1rem;
    left: 1rem;
    align-items: center;
    height: fit-content;
    width: 28vh;
  }

  .hamburger {
    position: absolute;
    display: block;
    border: 0px;
    left: 1rem;
    background-color: transparent;
    cursor: pointer;
  }

  .hamburgeractive>span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
  }

  .hamburgeractive>span:nth-child(2) {
    width: 0;
    transform: translateX(-50%);
  }

  .hamburgeractive>span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }

  .hamburgerline-top {
    transition-duration: 300ms;
    transform-origin: top left;
    width: 30px;
    height: 2px;
    margin-top: 0.5rem;
    display: block;
    background-color: white;
  }

  .hamburgerline-mid {
    transition-duration: 300ms;
    width: 30px;
    height: 2px;
    margin-top: 0.5rem;
    display: block;
    background-color: white;
  }

  .hamburgerline-bottom {
    transition-duration: 300ms;
    transform-origin: bottom left;
    width: 30px;
    height: 2px;
    margin-top: 0.5rem;
    display: block;
    background-color: white;
  }
  .label {
    position: absolute;
    z-index: 20;
    right: 7vw;
    top: 32vh;
    margin-top: auto;
    width: 30vw;
  }
  .logo{
    font-size:3vh;
    margin-top: 17px;
  }
}

@media only screen and (max-width: 630px) {
  .label {
    position: absolute;
    z-index: 20;
    right: 7vw;
    top: 29vh;
    margin-top: auto;
    width: 30vw;
  }
  .logo{
    font-size: 3.2vh;
    margin-top:17px;
  }
}
@media only screen and (max-width: 415px) {
  .label {
    position: absolute;
    z-index: 20;
    right: 7vw;
    top: 18vh;
    margin-top: auto;
    width: 30vw;
  }
  .logo{
    font-size: 3vh;
    margin-top:17px;
  }
}